/*Color a jumbotron parte superior*/
.jumbotron{
    background-color: green;
    color: black;
    margin-top: 50px;
}

/*Color al boton de cada tarjeta*/
.btn{
    background-color: grey;
}

/*Configuracion de las tarjetas*/
.card-finca{
    flex: 1 250px;
    padding: 4px 0px 0px 0px;
    margin-top: 10px;
}

.btn-vistazo{
    width: 100%;
    border-radius: 0%;
}



/*Configuracion del footer*/
footer{
    padding: 10px 10px 0 10px;
    background-color: green;
    margin-bottom: 0px;
    margin-top: 15px;
}

.textoFooter{
    text-align: center;
}
/*Estilos para las redes sociales*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }