$verde:#067d28;
$gris:#465249;
$azulfacebook:#3B5998;
$blanco:#ffffff;
$rojo:#bb0000;
$azulInstagram:#125688;
$negro:#000000;

@mixin margenes ($top,$button){
    margin-top: $top;
    margin-bottom: $button;
}

/*Color a jumbotron parte superior*/
.jumbotron{
    background-color: $verde;
    color: $negro;
    @include margenes(50px, 20px);
}

/*Color al boton de cada tarjeta*/
.btn{
    background-color: $gris;
}

/*Configuracion de las tarjetas*/
.card-finca{
    flex: 1 250px;
    padding: 4px 0px 0px 0px;
    @include margenes(15px, 0px);
}

.btn-vistazo{
    width: 100%;
    border-radius: 0%;
}

/*Configuracion del footer*/
footer{
    padding: 10px 10px 0 10px;
    background-color:$verde;
    @include margenes(15px, 0px)
}

.textoFooter{
    text-align: center;
}

/*Estilos para las redes sociales*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: $azulfacebook;
    color: $blanco;
  }
  
  .fa-youtube {
    background: $rojo;
    color: $blanco;
  }
  
  .fa-instagram {
    background: $azulInstagram;
    color: $blanco;
  }

